/* Fluent UI / Styles / Elevation https://developer.microsoft.com/en-us/fluentui#/styles/web/elevation */

.ms-depth-4 {
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}

.ms-depth-8 {
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}

.ms-depth-16 {
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
}

.ms-depth-64 {
  box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}

/* Fluent UI / Styles / Motion https://developer.microsoft.com/en-us/fluentui#/styles/web/motion */

@keyframes ms-motion-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ms-motion-fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes ms-motion-scaleDownIn {
  from {
    transform: scale3d(1.15, 1.15, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes ms-motion-scaleDownOut {
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(0.9, 0.9, 1);
  }
}

@keyframes ms-motion-slideLeftOut {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-48px, 0, 0);
  }
}

@keyframes ms-motion-slideRightOut {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(48px, 0, 0);
  }
}

@keyframes ms-motion-slideLeftIn {
  from {
    transform: translate3d(48px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ms-motion-slideRightIn {
  from {
    transform: translate3d(-48px, 0, 0);
  }

  to {
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes ms-motion-slideUpOut {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -48px, 0);
  }
}

@keyframes ms-motion-slideDownOut {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 48px, 0);
  }
}

@keyframes ms-motion-slideUpIn {
  from {
    transform: translate3d(0, 48px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ms-motion-slideDownIn {
  from {
    transform: translate3d(0, -48px, 0);
  }

  to {
    transform: translate3d(0px, 0, 0);
  }
}

.ms-motion-fadeIn {
  animation: ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-fadeOut {
  animation: ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-scaleDownIn {
  animation: ms-motion-scaleDownIn 300ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-scaleDownOut {
  animation: ms-motion-scaleDownOut 300ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideLeftOut {
  animation: ms-motion-slideLeftOut 100ms cubic-bezier(0.9, 0.1, 1, 0.2) both, ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideRightOut {
  animation: ms-motion-slideRightOut 100ms cubic-bezier(0.9, 0.1, 1, 0.2) both, ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideLeftIn {
  animation: ms-motion-slideLeftIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideRightIn {
  animation: ms-motion-slideRightIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideUpOut {
  animation: ms-motion-slideUpOut 100ms cubic-bezier(0.9, 0.1, 1, 0.2) both, ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideDownOut {
  animation: ms-motion-slideDownOut 100ms cubic-bezier(0.9, 0.1, 1, 0.2) both, ms-motion-fadeOut 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideUpIn {
  animation: ms-motion-slideUpIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

.ms-motion-slideDownIn {
  animation: ms-motion-slideDownIn 100ms cubic-bezier(0.1, 0.9, 0.2, 1) both, ms-motion-fadeIn 100ms cubic-bezier(0, 0, 1, 1) both;
}

/* Fluent Design Windows (Microsoft Docs) / Design / ... Geometry https://docs.microsoft.com/en-gb/windows/apps/design/signature-experiences/geometry */

.border-radius-0 {
  border-radius: 0;
}

.border-radius-4 {
  border-radius: .25rem;/* 4px */
}

.border-radius-8 {
  border-radius: .5rem;/* 8px */
}

/* Medium / Microsoft Design / ... DIY: A Web Version of the Fluent Design System’s Acrylic Material https://medium.com/microsoft-design/diy-a-web-version-the-fluent-design-systems-acrylic-material-fe2eac2a40bb */

.acrylic {
  background-color: rgba(255, 255, 255, .9);
}

@supports (backdrop-filter: blur(20px)) {
  .acrylic {
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(30px) saturate(125%);
  }
}

/* Microsoft https://www.microsoft.com/ */

.background-color {
  background-color: #f2f2f2;
}

.ms-fluent {
  color: #000;
  background-color: #ebebeb;
  border: none;
}

.ms-fluent:hover {
  color: #000;
  background-color: #dbdbdb;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

/* Microsoft Design https://www.microsoft.com/design */

.msd-fluent {
  position: relative;
  color: rgb(80, 80, 80);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px, rgba(0, 0, 0, .05) 0 .5px 1px;
  transition: all .333s ease-out 0s;
  backface-visibility: hidden;
}

.msd-fluent:hover {
  box-shadow: rgba(0, 0, 0, .22) 0 19px 43px, rgba(0, 0, 0, .18) 0 4px 11px;
  transform: translate3d(0, -1px, 0);
}
