/* Microsoft Docs / ... / Segoe Fluent Icons font https://docs.microsoft.com/en-us/windows/apps/design/style/segoe-fluent-icons-font */

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url(./fonts/Segoe\ Fluent\ Icons.ttf) format("truetype");
}

#accordion-icon,
#toast-icon,
#icon {
  font-family: "Segoe Fluent Icons";
}

#accordion-icon::before,
#toast-icon::before,
#icon::before {
  content: "\f1ad";
}

.accordion-icon {
  font-size: 24px;
  margin-right: 1.25rem;
}

#toast-icon {
  margin-right: 0.75rem;
}
