/* Microsoft Docs / ... / Segoe Fluent Icons font https://docs.microsoft.com/en-us/windows/apps/design/style/segoe-fluent-icons-font */

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url(./fonts/Segoe\ Fluent\ Icons.ttf) format("truetype");
}

#WindowsInsider {
  font-family: "Segoe Fluent Icons";
}

#WindowsInsider::before {
  content: "\f1ad";
}
