/*
 * ------------------------- Typography -------------------------
 */

/* ------------------------- Type Ramp ------------------------- */

@font-face {
  font-family: "Segoe UI VF";
  src: url(./fonts/SegoeUI-VF.ttf) format("truetype-variations");
}

.f-caption {
  font-family: "Segoe UI VF";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.f-body {
  font-family: "Segoe UI VF";
  font-feature-settings: 'rclt' off;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.f-body-strong {
  font-family: "Segoe UI VF";
  font-feature-settings: 'fina' on, 'init' on;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.f-body-large {
  font-family: "Segoe UI VF";
  font-feature-settings: 'fina' on, 'init' on;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.f-subtitle {
  font-family: "Segoe UI VF";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.f-title {
  font-family: "Segoe UI VF";
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.f-title-large {
  font-family: "Segoe UI VF";
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}

.f-display {
  font-family: "Segoe UI VF";
  font-size: 68px;
  font-weight: 600;
  line-height: 92px;
}
