/* Material Design / ... Color / The color system https://material.io/design/color/the-color-system.html */

/* Material Design / ... Typography / The type system https://material.io/design/typography/the-type-system.html */

:root {
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
}

.headline1 {
  font-family: Roboto;
  font-size: 96px;
  font-weight: var(--light);
  letter-spacing: -1.5px;
}

.headline2 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: var(--light);
  letter-spacing: -.5px;
}

.headline3 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: var(--regular);
  letter-spacing: 0;
}

.headline4 {
  font-family: Roboto;
  font-size: 34px;
  font-weight: var(--regular);
  letter-spacing: .25px;
}

.headline5 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: var(--regular);
  letter-spacing: 0;
}

.headline6 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: var(--medium);
  letter-spacing: .15px;
}

.subtitle1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: var(--regular);
  letter-spacing: .15px;
}

.subtitle2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: var(--medium);
  letter-spacing: .1px;
}

.body1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: var(--regular);
  letter-spacing: .5px;
}

.body2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: var(--regular);
  letter-spacing: .25px;
}

.button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: var(--medium);
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.caption {
  font-family: Roboto;
  font-size: 12px;
  font-weight: var(--regular);
  letter-spacing: .4px;
}

.overline {
  font-family: Roboto;
  font-size: 10px;
  font-weight: var(--regular);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
